.forgot-pass-text {
    color: #2A2C30;
    font-family: "Open Sans";
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.37px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 0 9px 0 #FFFFFF;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.share-ur-text {
    color: #4A4A4A;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: -0.24px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 1.5rem;
}

.forgot-tabs {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.tablSelect {
    color: #4A4A4A;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.43px;
    line-height: 24px;
    border-bottom: 4px solid transparent;
    border-radius: 2px;
    border-image: url(../../assets/border.png);
    border-image-slice: 1;
    /* width: 32%; */
    cursor: pointer;
}

.tabUnselect {
    opacity: 0.66;
    color: #4A4A4A;
    font-family: "Open Sans";
    font-size: 18px;
    letter-spacing: -0.43px;
    line-height: 24px;
    cursor: pointer;
}

.send-otp-btn {
    border-radius: 6px;
    background: linear-gradient(138.33deg, #F3698E 0%, #FEB456 100%);
    box-shadow: 0 4px 10px 0 rgba(246,126,126,0.38);
    border: none;
    width: 100%;
    padding: 0.7rem;
    cursor: pointer;
}

.send-otp-text {
    color: #FFFFFF;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.56px;
    line-height: 22px;
    text-align: center;
    text-shadow: 0 0 9px 0 #FFFFFF;
    /* padding: 2rem; */
}

.form-otp{
    padding-bottom: 1.5rem;
}

.arrrow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.back-arrow-img {
    cursor: pointer;
}

.forgot-bg-img{
    width: 440px;
    height: 457px;
}

.half-bg-forgogt-pass {
    display: flex;
    border-radius: 8px 0 0 8px;
    /* position: absolute; */
    background-image: linear-gradient(314.03deg, rgba(191,63,98,0.66) 0%, rgba(222,115,97,0.94) 23.3%, rgba(252,165,97,0.91) 59.69%, rgba(255,187,81,0.5) 100%),url(http://localhost:3000/static/media/login_bg.7cc6172be82425b5e5c9.png);
    box-shadow: 0 4px 10px 0 rgba(246,126,126,0.38);
    width: 420px;
    height: 481px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    /* padding-left: 1rem; */
    box-shadow: 0 2px 24px 0 rgba(0,0,0,0.5);
}